
.form-group {
    margin-bottom: 15px;
}

.form {
    width: 337px;
    margin: 20px auto 0;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-text {
    text-align: center;
}

.p-inputtext{
    margin: 3px;

}


::ng-deep {
    .p-datepicker td>span {
            width: 20px !important;
            height: 20px !important;
        }
        .p-datepicker .p-timepicker {
            height: 5vh;
        }
        .p-timepicker>div {
            height: 50px;
        }
        .p-separator {
            margin-top: 25px;
        }
}