<div class="card-container">
  <p-card class="card-item">
    <div class="card-data">
      <div class="name">{{appointment.name}}</div>
      <div class="appointment">{{appointment.appointment}}</div>
      <div class="facility">{{appointment.facility}}</div>
      <div class="resource">{{appointment.resource}}</div>
      <div class="status">{{appointment.status}}</div>
      <div class="buttons">
        <button pButton (click)="openEditDialog()">Edit</button>
        <button pButton (click)="onDelete()" class="p-button-raised p-button-danger">Delete</button>
      </div>
    </div>
  </p-card>
</div>






































































