
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .card-item {
    width: 350px;
    
  }
  
  .card-data {
    padding: 10px;
  }
  
  .appointment {
    font-size: 16px; 
    padding: 4px;
  }
  
  .status {
    font-size: 14px; 
    padding: 4px;

  }
  
  .facility{
    font-size: 14px;
    padding: 4px;

  }

  .name, .resource {
    font-size: 18px; 
    font-weight: bold;
    padding: 4px;

  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }
  
