<div>
  <button pButton pRipple type="button" label="Add Data" icon="pi pi-plus" class="p-button-success"
    (click)="OnAdd()"></button>
</div>
<div class="card-container">
  <div *ngFor="let appointment of appointmentList; index as i" class="card-data">
    <app-appointment-card [appointment]="appointment" (editClicked)="openEditDialog(appointment)"
      (deleteClicked)="onDeleteAppointment(appointment.id)"></app-appointment-card>
  </div>
</div>

<p-dialog header="appointment data" [(visible)]="isEditable" [modal]="true">
  <app-appointment-edit [appointmentUserData]="selectedAppointment" *ngIf="isEditable"
    (saveClicked)="onSaveAppointment($event)" (updateClicked)="onUpdateAppointment($event)"></app-appointment-edit>
</p-dialog>